*{
    margin: 0;
    padding: 0;
}
.container{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image:linear-gradient(rgba(28, 22, 22, 0.445),rgba(0, 0, 0, 0.563)),url("log1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.container label{
    font-size: 20px;
    padding-top: 10px;

}
.container input{
    margin-top: 10px;
    width: 250px;
    height: 30px;
    background-color: lightgrey;
    
}
.container button{
    margin-top: 20px;
    width: 90px;
    height: 30px;
    background-color: rgb(254, 254, 254);
    
}
.container button:hover{
     background-color: rgb(224, 182, 29);
}
.max{
    display: flex;
    padding: 30px;
    padding-left: 70px;
    padding-right: 70px;
    flex-direction: column;
    background-color: rgba(15, 3, 40, 0.718);
    
}
label{
    color: rgb(251, 252, 251);
}
.heading{
    font-style: oblique;
    font-size: 40px;
    color: rgb(255, 243, 19);
}